body {
  text-align: center;
}
/* Formatação da barra  de navegação */
.navbar {
    overflow: hidden;
    background-color: rgba(223, 11, 11, 0.829);
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Formatação dos botoes da barra de navegação*/
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*`Posição do menu suspenso*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Formatação do botao de menu suspenso */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;/*ajuda na centralização em telas menores*/
  }
  
  /*Formatação do menu suspenso quando posicionar o cursor em cima*/
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    border: solid 1px black;
    color: red;
  }
  
  /* formatação do menu suspenso quando o cursor posicionar em cima e sua sombra*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: red;/*quando o cursor ficar em cima a letra ficará vermelha*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px red;
    z-index: 1;
  }
  
  /* formatação do menu suspenso */
  .dropdown-content a {
    float: none;
    background-color: red;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Formatação dos links do menu suspenso*/
  .dropdown-content a:hover {
    background-color: white;
  }
  
  /* block define que largura e altura estarão fixados no mesmo tamanho */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*centralização de texto*/
  .referencia {
    text-align: center;
  }
  img {
      margin: 0 auto;
      margin-top: 5%;
      width: 250px;
      height: 250px;
      border: solid 1px black;
      box-shadow: -2px 2px 8px 2px rgb(29, 29, 29);
  }